/*FUENTE IMPORTADA*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky !important;
    top: 0;
    box-shadow: 0px 5px 10px rgba(29, 13, 67, 0.5);
    z-index: 100;
}

h1 {
    color: rgb(244, 239, 239);
    text-align: center;
    font-size: 60px;
}

.txtUbicacion {
    color: rgb(244, 239, 239);
    text-align: center;
    font: 30px "Roboto", sans-serif;
    padding: 20px;
}

.centrado {
    text-align: center;
    align-content: center;
    font: 50px "Roboto", sans-serif;
    grid-area: txtPrincipal;
}

main {
    background-color: rgb(208, 49, 32);
}

nav,
.fondoMenu {
    background-color: rgb(31, 155, 31);
}

section.imagenPrincipal img {
    width: 100%;
}

.nav-link {
    color: white;
}

.datosContacto {
    font-style: italic;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

nav ul li a:hover {
    background-color: white;
}

.textoPrincipal {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

header img,
footer img {
    width: 50px;
}

.menuNavegacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menuContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    font: 1rem "Roboto", sans-serif;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: rgb(190, 227, 21);
}

.redesSociales {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
}

.seccionPrincipal {
    display: grid;
    padding: 15px;
    height: 100vh;
    /* viewport height */
    width: 90vw;
    /* viewport width */
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "txtPrincipal imgPrincipal"
    "video1Ppal video2Ppal"
    "video1Ppal video2Ppal";
    grid-column-gap: 15px;
    grid-row-gap: 15px;

}

.imgPrinc{
    grid-area: imgPrincipal;
}

.video1Princ{
    grid-area: video1Ppal;
    width : 100%;
    height: 100%
}
.video2Princ{
    grid-area: video2Ppal;
    width : 100%;
    height: 100%

}

.descripcionCompeticion{
    color: rgb(244, 239, 239);
    font-family: "Roboto", sans-serif;
}

 .formBusqueda form input[type=search] {
    border: none;
    outline: 2px solid #36257a;
    border-radius: 15px;
    line-height: 2.65;
    width: 50%;
}

.formBusqueda form{
    display: flex;
    justify-content: space-around;
    padding: 20px;
   
}

.formBusqueda input, .planesCentrados{
    text-align: center;
}

.planes{
    display: grid;
    /* viewport width */
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    "gratuito gratuito gratuito"
    "bronce plata oro";
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.planGratuito{
    grid-area: gratuito;
}

.planBronce{
    grid-area: bronce;
}

.planPlata{
    grid-area: plata;
}

.planOro{
    grid-area: oro;
}

.formularioContacto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}



/* media queries */

/* MOBILE (320px a 768px  */
@media screen and (max-width:768px) {
    .seccionPrincipal {
        display: flex;
        align-items: center;
        margin: auto;
        flex-direction: column;
        height: 100%;
    }

    .video1Princ{
        grid-area: video1Ppal;
        width : 100%;
        height: 400px;
    }
    .video2Princ{
        grid-area: video2Ppal;
        width : 100%;
        height: 400px;
    
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        padding: 20px 20px;
        background-color: rgb(190, 227, 21);
    }

    .planes{
        display: grid;
        /* viewport width */
        margin: 0 auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "gratuito"
        "bronce" 
        "plata" 
        "oro";
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    
}