* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(244, 239, 239);
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  height: 150px;
  background: linear-gradient(90deg, rgba(38, 7, 71, 0.8492647059) 23%, rgb(23, 6, 68) 100%);
}

main {
  background: white;
}
main .textoPrincipal {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 15px;
}

main .seccionPrincipal .video2Princ, main .seccionPrincipal .video1Princ {
  width: 100%;
  height: 100%;
}

main .seccionPrincipal {
  display: grid;
  margin: 0 auto;
  grid-template-areas: "txtPrincipal imgPrincipal" "video1Ppal video2Ppal" "video1Ppal video2Ppal";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  padding: 80px 80px 5px 80px;
  height: 110vh;
  width: 90vw;
  row-gap: 70px;
}
main .seccionPrincipal .centrado {
  text-align: center;
  align-content: center;
  font: 40px "Roboto", sans-serif;
  grid-area: txtPrincipal;
  color: #0059cd;
}
main .seccionPrincipal .imgPrinc {
  display: flex;
  grid-area: imgPrincipal;
  justify-content: center;
}
main .seccionPrincipal .imgPrinc img {
  width: 50%;
}
main .seccionPrincipal .video1Princ {
  grid-area: video1Ppal;
  height: 100%;
}
main .seccionPrincipal .video2Princ {
  grid-area: video2Ppal;
  height: 100%;
}

main section .txtUbicacion {
  text-align: center;
  font: 30px "Roboto", sans-serif;
  padding: 20px;
}

main .formBusqueda form {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
main .formBusqueda form input {
  text-align: center;
}
main .formBusqueda form [type=search] {
  border: none;
  outline: 2px solid #36257a;
  border-radius: 15px;
  line-height: 2.65;
  width: 50%;
}
main .container div img {
  width: 50px;
  height: 50px;
}
main .container .descripcionCompeticion {
  color: #211835;
  font-family: "Roboto", sans-serif;
}

main .planes {
  display: grid;
  margin: 0 auto;
  grid-template-areas: "gratuito gratuito gratuito" "bronce plata oro";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
main .planes h2 {
  text-align: center;
  padding: 30px;
}
main .planes .planGratuito {
  grid-area: gratuito;
}
main .planes .planBronce {
  grid-area: bronce;
}
main .planes .planPlata {
  grid-area: plata;
}
main .planes .planOro {
  grid-area: oro;
}
main .planes .textoPrincipal .planesCentrados {
  text-align: center;
}

main .formularioContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
main .formularioContacto form {
  width: 100%;
  max-width: 400px;
}
main .formularioContacto form input {
  border: solid 2px;
  width: 100%;
}
main .formularioContacto form .mensaje {
  width: 100%;
  margin-top: 10px;
  border: solid 2px;
}
main .formularioContacto form button {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky !important;
  top: 0;
  box-shadow: 0px 5px 10px rgba(29, 13, 67, 0.5);
  z-index: 100;
}
header nav {
  background: #211835;
}
header nav img {
  width: 50px;
}
header nav .fondoMenu {
  background: #211835;
}
header nav .menuContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  font: 1rem "Roboto", sans-serif;
}
header nav .menuContainer li a {
  text-decoration: none;
  list-style: none;
  color: white;
}
header nav .menuContainer li :hover {
  background-color: white;
}
header .menuNavegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #211835;
}
footer .datosContacto {
  font-style: italic;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}
footer .datosContacto p {
  margin: 0;
}
footer .redesSociales {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}
footer .redesSociales svg {
  width: 60%;
  height: 60%;
}

main .planes {
  display: grid;
  margin: 0 auto;
  grid-template-areas: "gratuito gratuito gratuito" "bronce plata oro";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
main .planes h2 {
  text-align: center;
  padding: 30px;
}
main .planes .planGratuito {
  grid-area: gratuito;
}
main .planes .planBronce {
  grid-area: bronce;
}
main .planes .planPlata {
  grid-area: plata;
}
main .planes .planOro {
  grid-area: oro;
}
main .planes .textoPrincipal .planesCentrados {
  text-align: center;
}

/* MOBILE */
@media screen and (max-width: 972px) {
  main h1 {
    font-size: 30px;
  }
  main .textoPrincipal h2 {
    font-size: 25px;
  }
  main section .txtUbicacion {
    font-size: 20px;
  }
  main .seccionPrincipal {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  main .seccionPrincipal .centrado {
    text-align: center;
    align-content: center;
    font: 20px "Roboto", sans-serif;
    grid-area: txtPrincipal;
  }
  main .seccionPrincipal .video1Princ {
    grid-area: video1Ppal;
    width: 100%;
    height: 400px;
  }
  main .seccionPrincipal .video2Princ {
    grid-area: video2Ppal;
    width: 100%;
    height: 400px;
  }
  main .planes {
    display: grid;
    margin: 0 auto;
    grid-template-areas: "gratuito" "bronce" "plata" "oro";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  main .planes h3 {
    text-align: center;
    font-size: 20px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px 20px;
    background-color: #211835;
  }
  footer svg {
    margin-top: 10px;
  }
}
@media screen and (max-width: 420px) {
  main .formularioContacto form {
    width: 100%;
    max-width: 300px;
  }
  main .formBusqueda form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 20px;
  }
  main .formBusqueda form input {
    text-align: center;
  }
  main .formBusqueda form [type=search] {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
