main {
    .formBusqueda {
        form {
            @include display(flex, space-around, null);
            padding: 50px;

            input {
                text-align: $center;
            } [type=search] {
                    border: none;
                    outline: 2px solid #36257a;
                    border-radius: 15px;
                    line-height: 2.65;
                    width: 50%;
                }
        }
    }

    & .container {
        div {
            img {
                width: 50px;
                height: 50px;
            }
        } &
        .descripcionCompeticion {
            color: $violeta;
            font-family: "Roboto", sans-serif;
        }
    }
}

/*background: hsl(var(--color-secondary-h), var(--color-secondary-s), var(--color-variant-i_high5)) url(/asset/logo/toornament/pattern-background-header.svg?120069819) no-repeat bottom center;
background-blend-mode: initial;
color: hsl(var(--color-standard-h), var(--color-standard-s), var(--color-variant-i_bottom));*/
