main {
    .formBusqueda {
        form {
            @include display(flex, space-around, null);
            padding: 50px;

            input {
                text-align: $center;
            } & [type=search] {
                    border: none;
                    outline: 2px solid #36257a;
                    border-radius: 15px;
                    line-height: 2.65;
                    width: 50%;
                }
        }
    }

    & .container {
        div {
            img {
                width: 50px;
                height: 50px;
            }
        } &
        .descripcionCompeticion {
            color: $violeta;
            font-family: "Roboto", sans-serif;
        }
    }
}

